POSTGRES_DB=medreability
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ASPNETCORE_ENVIRONMENT=Development

JWT_ISSUER=MedReability.Api
JWT_AUDIENCE=MedReability.Client
JWT_KEY=THIS_IS_A_DEVELOPMENT_ONLY_KEY_CHANGE_ME_123456
JWT_ACCESS_TOKEN_MINUTES=60
