POSTGRES_DB=medreability
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ASPNETCORE_ENVIRONMENT=Development

JWT_ISSUER=MedReability.Api
JWT_AUDIENCE=MedReability.Client
JWT_KEY=THIS_IS_A_DEVELOPMENT_ONLY_KEY_CHANGE_ME_123456
JWT_ACCESS_TOKEN_MINUTES=60

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
S3_BUCKET_NAME=medreability-media
S3_PUBLIC_BASE_URL=http://localhost:9000
